/.claude
/logs
/slurm
/archive
/annotation_copy
/data
/data_for_review
/data_for_second_review
/data_excluded
/data_not_annotated
/human_in_a_loop_data
/output
/preview
/prediction
/__pycache__
*.pt
# Ignore all .pyc files
*.pyc
*notes.txt
/lambda_output
/hpc2_output
*.png
*.xlsx
*.html
*.js
/figures_for_paper
/hh_variance
/image_online
/notes